[Unit]
Description=nomad by HashiCorp
Documentation=https://www.nomad.io/docs/
Wants=network-online.target
After=network.target network-online.target

[Service]
ExecReload=/bin/kill -HUP $MAINPID
ExecStart={{ nomad_install_dir }}/nomad "agent" "-config={{ nomad_config_dir }}"
# User={{ nomad_user }}
# Group={{ nomad_group }}
KillMode=process
KillSignal=SIGINT
LimitNOFILE=65536
LimitNPROC=infinity
Restart=on-failure
RestartSec=5
StartLimitBurst=3
TasksMax=infinity
Type=simple
WorkingDirectory=/

[Install]
WantedBy=multi-user.target
