
data_dir = "{{ consul_data_dir }}"

log_level = "{{ consul_log_level }}"
log_file = "{{ consul_log_file }}"
enable_syslog = {{ consul_enable_syslog|lower }}

node_name = "{{ consul_node_name }}"
datacenter = "{{ consul_datacenter }}"

server = {{ consul_is_server|lower }}

{% if consul_is_server|bool == true %}
bootstrap_expect = {{ consul_bootstrap_expect }}
{% endif %}

bind_addr = "{{ consul_bind_address }}"
client_addr = "{{ consul.address }}"
advertise_addr = "{{ consul_address }}"

retry_join = ["{{ consul_retry_join }}"]

retry_interval = "15s"
rejoin_after_leave = true

ports {
    grpc = {{ consul.port.grpc }}
}

connect {
    enabled = true
}

{% if consul.address == '192.168.56.101' %}
ui_config {
    enabled = {{ consul_enable_ui|lower}}
}
{% endif %}

encrypt = "{{ consul_encrypt_key }}"

{% if consul_agent_token|length > 0 %}
acl = {
  enabled = {{ consul_acl_enable|lower }}
  default_policy = "{{ consul_acl_default_policy }}"
  enable_token_persistence = true

  tokens {
    agent = "{{ consul_agent_token }}"
  }
{% endif %}
}