
data_dir = "{{ nomad_data_dir }}"

log_level = "{{ nomad_log_level }}"
log_file = "{{ nomad_log_file }}"
enable_syslog = {{ nomad_enable_syslog|lower }}
enable_debug = true

name = "{{ nomad_node_name }}"
datacenter = "{{ nomad_datacenter }}"
region = "{{ nomad_region }}"

{% if nomad_is_server|bool == true %}
server {

  enabled = {{ nomad_is_server|lower }}

  bootstrap_expect = {{ nomad_bootstrap_expect }}
  server_join {
    retry_join = ["{{ nomad_retry_join }}"]
  }
}
{% endif %}

{% if nomad_is_server|bool == false %}
client {
  enabled = true
  server_join {
    retry_join = ["{{ nomad_retry_join }}"]
  }
  network_interface = "eth1"
  servers = ["{{ nomad_retry_join }}"]
}
{% endif %}

bind_addr = "{{ nomad_bind_address }}"

advertise {
  http = "{{ nomad_advertise_address }}"
  rpc  = "{{ nomad_advertise_address }}"
  serf = "{{ nomad_advertise_address }}"
}

ports {
  http = "{{ nomad.port.http }}"
  rpc  = "{{ nomad.port.rpc }}" 
  serf = "{{ nomad.port.serf }}" 
}

# Consul Configuration
consul {
  address = "{{ nomad_advertise_address }}:8500"

{% if nomad_is_server|bool == true %}
  server_service_name = "{{ nomad_node_name }}"
{% endif %}

{% if nomad_is_server|bool == false %}
  client_service_name = "client-{{ nomad_node_name }}"
{% endif %}
  auto_advertise = true

  token   = "{{ consul_acl_token }}"

  server_auto_join = true
  client_auto_join = true
}

{% if nomad_is_server|bool == false %}
plugin "raw_exec" {
  config {
    enabled = true
  }
}

plugin "docker" {
  config {
    volumes {
      enabled = true
    }
    # auth {
    #   config = "/etc/docker-auth.json"
    # }
  }
}
{% endif %}

{% if nomad.address == "192.168.56.101"|bool == true %}
ui {
  enabled = false
}
{% endif %}

acl = {
  enabled = {{ nomad_acl_enable|lower }}
}

