
data_dir = "{{ nomad_data_dir }}"

log_level = "{{ nomad_log_level }}"
log_file = "{{ nomad_log_file }}"
enable_syslog = {{ nomad_enable_syslog|lower }}
enable_debug = true

name = "{{ nomad_node_name }}"
datacenter = "{{ nomad_datacenter }}"

{% if nomad_is_server|bool == true %}
server {

  enabled = {{ nomad_is_server|lower }}

  bootstrap_expect = {{ nomad_bootstrap_expect }}
{% if nomad_retry_join|length > 0 %}
  server_join {
    retry_join = ["{{ nomad_retry_join|join('\",\"') }}"]
  }
{% endif %}
}
{% endif %}

{% if nomad_is_server|bool == false %}
client {
  enabled = true
{% if nomad_retry_join|length > 0 %}
  server_join {
    retry_join = ["{{ nomad_retry_join|join('\",\"') }}"]
  }
{% endif %}

  network_interface = "eth1"
  servers = ["192.168.56.101","192.168.56.103","192.168.56.103"]
}
{% endif %}

bind_addr = "{{ nomad_bind_address }}"

advertise {
  http = "{{ nomad_advertise_address }}"
  rpc  = "{{ nomad_advertise_address }}"
  serf = "{{ nomad_advertise_address }}"
}

# Valores defaul para portas de servidores nomad
ports {
  http = "{{ nomad_server_port_http }}"
  rpc  = "{{ nomad_server_port_rpc }}" # only server nodes
  serf = "{{ nomad_server_port_serf }}" # only server nodes
}

# Consul Configuration
consul {
  # Consult agent's HTTP Address
  address = "{{ nomad_advertise_address }}:8500"

  # The service name to register the server and client with Consul.
{% if nomad_is_server|bool == true %}
  server_service_name = "{{ nomad_node_name }}"
{% endif %}

{% if nomad_is_server|bool == false %}
  client_service_name = "client-{{ nomad_node_name }}"
{% endif %}

  # Auth info for http access
  # auth = user:password

  # Advertise Nomad services to Consul
  # Enables automatically registering the services
  auto_advertise = true

  token   = "{{ consul_acl_token }}"

  # Enables the servers and clients bootstrap using Consul
  server_auto_join = true
  client_auto_join = true
}

plugin "raw_exec" {
  config {
    enabled = true
  }
}

plugin "docker" {
  config {
    volumes {
      enabled = true
    }
    # auth {
    #   config = "/etc/docker-auth.json"
    # }
  }
}

{% if nomad_is_server|bool == true %}
acl = {
  enabled = {{ nomad_acl_enable|lower }}
}
{% endif %}