[Unit]
Description=Consul by HashiCorp
Documentation=https://www.consul.io/docs/
Wants=network-online.target
After=network.target network-online.target

[Service]
ExecReload=/bin/kill -HUP $MAINPID
ExecStart={{ consul_install_dir }}/consul "agent" "-config-dir={{ consul_config_dir }}"
# User={{ consul_user }}
# Group={{ consul_group }}
KillMode=process
KillSignal=SIGINT
LimitNOFILE=65536
LimitNPROC=infinity
Restart=on-failure
RestartSec=5
StartLimitBurst=3
TasksMax=infinity
Type=simple
WorkingDirectory=/

[Install]
WantedBy=multi-user.target
