
data_dir = "{{ consul_data_dir }}"

log_level = "{{ consul_log_level }}"
log_file = "{{ consul_log_file }}"
enable_syslog = {{ consul_enable_syslog|lower }}

node_name = "{{ consul_node_name }}"
datacenter = "{{ consul_datacenter }}"

server = {{ consul_is_server|lower }}

{% if consul_is_server|bool == true %}
bootstrap_expect = {{ consul_bootstrap_expect }}
{% endif %}

bind_addr = "{{ consul_bind_address }}"
client_addr = "{{ consul_client_address }}"
advertise_addr = "{{ consul_address }}"

# Enable Consul Connect
# https://www.nomadproject.io/docs/integrations/consul-connect

{% if consul_is_server|bool == false %}
retry_join = ["192.168.56.101"]
retry_interval = "15s"
{% endif %}

ports {
    grpc = 8502
}

connect {
    enabled = true
}

ui_config {
    enabled = {{ consul_enable_ui|lower}}
}

encrypt = "{{ consul_encrypt_key }}"


acl = {
  enabled = {{ consul_acl_enable|lower }}
  default_policy = "{{ consul_acl_default_policy }}"
  enable_token_persistence = true

  tokens {
    agent = "{{ consul_agent_token }}"
  }
}
{% if consul_is_server|bool == true %}
{% endif %}

















